<h1>Group manager page</h1>
<div class="center">
  <% @followers.each do |follower| %>
    <% unless @group.member_list.include?(follower.email) %>
    <div class="well">
      <%= link_to "Approve #{follower.email}", group_path(@group, :follower => follower.email),  method: :patch %>
    </div>
    <hr></hr>
    <% end %>
  <% end %>
</div>
<hr></hr>
