<h1>Group list</h1>
<div class="center">
  <%= will_paginate%>
  <% @groups.each do |group| %>
    <div class="well">
      <h3><%= link_to "#{group.name}", group_path(group) %></h3>
    </div>
    <hr></hr>
  <% end %>
  <%= will_paginate%>
</div>

<hr></hr>
<%= link_to "Create a new group", new_group_path, class: 'btn btn-primary' %>
<hr></hr>