
<div class="row">
  <div class="col-md-offset-4 col-md-4 well">
    <h3>Group list</h1>
    <hr>
    <%= will_paginate%>
    <% @groups.each do |group| %>
      <div class="">
        <h5><%= link_to "#{group.name}", group_path(group), class: 'btn btn-default' %></h5>
      </div>
    <% end %>
    <%= will_paginate%>
    <hr>
    <%= link_to "Create a new group", new_group_path, class: 'btn btn-success' %>
  </div>
  
</div>


