<h3>Creating a new group</h3>
<hr>
<div class="row">
<%= form_for @group do |f| %>
  <div class="form-group">
    <div class="control-label">
      <%= f.label :name %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Input the groups name', autofocus: true %>
      <small>Maximum length: 20</small>
    </div>
  <div class="form-group">
    <div class=" col-sm-10">
      <%= f.submit class: 'btn btn-primary btn-md' %>
    </div>
  </div>

<% end %>
</div>