<h1 align="center">Tasks for <%= @date %></h1>

<% @posts.each do |x| %>
    <% if x.date == params[:date] && x.group == @group %>
        <div class="well">
            <%= x.description %>
        </div>
    <% end %>
<% end %>



</br>
<%= link_to "Add post", new_group_post_path(:date => @date), class: "btn btn-lg btn-default" %>